<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geofile.mapper.DownloadLimitMapper">

    <resultMap id="BaseResultMap" type="com.geofile.pojo.DownloadLimit">
            <id property="id" column="id" />
            <result property="fileId" column="file_id" />
            <result property="maxDownloads" column="max_downloads" />
            <result property="validHours" column="valid_hours" />
    </resultMap>

    <sql id="Base_Column_List">
        id,file_id,max_downloads,valid_hours
    </sql>
</mapper>
