<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geofile.mapper.FileChunkMapper">

    <resultMap id="BaseResultMap" type="com.geofile.entity.FileChunk">
            <id property="id" column="id" />
            <result property="fileId" column="file_id" />
            <result property="chunkIndex" column="chunk_index" />
            <result property="fileHash" column="file_hash" />
            <result property="chunkSize" column="chunk_size" />
            <result property="uploadTime" column="upload_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,file_id,chunk_index,file_hash,chunk_size,upload_time
    </sql>
</mapper>
