<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geofile.mapper.UserLocationMapper">

    <resultMap id="BaseResultMap" type="com.geofile.entity.UserLocation">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="lat" column="lat" />
            <result property="lng" column="lng" />
            <result property="region" column="region" />
            <result property="city" column="city" />
            <result property="province" column="province" />
            <result property="locationType" column="location_type" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,lat,lng,region,city,
        province,location_type,update_time
    </sql>
    <delete id="deleteByCity">
        delete
        from t_user_location
        where city = #{city,jdbcType=VARCHAR}
    </delete>
</mapper>
