<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geofile.mapper.VerificationCodeMapper">

    <resultMap id="BaseResultMap" type="com.geofile.entity.VerificationCode">
            <id property="id" column="id" />
            <result property="code" column="code" />
            <result property="type" column="type" />
            <result property="expireTime" column="expire_time" />
            <result property="maxAttempts" column="max_attempts" />
            <result property="attemptCount" column="attempt_count" />
            <result property="isUsed" column="is_used" />
            <result property="createdTime" column="created_time" />
    </resultMap>

    <!--suppress Annotator -->
    <sql id="Base_Column_List">
        id,code,type,expire_time,max_attempts,attempt_count,
        is_used,created_time
    </sql>
</mapper>
